:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    padding-top: calc(var(--spacing-safe-top) + 15px);
    padding-bottom: 10px;

    background-color: var(--color-black);
  }

  .main {
    overflow-y: auto;
    flex: 1;
  }
}
